$PRIMARY_COLOR: #1e2930;
$primary-color: #ffb777;
$SECONDARY_COLOR: #f7941d;
$NUNITO: 'Nunito',
sans-serif;
$PLAY: 'Playfair Display',
serif;
$MONT: 'Montserrat',
sans-serif;
$MONT_LIGHT: 300;
$MONT_REGULAR: 400;
$MONT_MEDIUM: 500;
$MONT_SEMIBOLD: 600;
$MONT_BOLD: 700;
$NUNITO_EXTRALIGHT: 200;
$NUNITO_LIGHT: 300;
$NUNITO_REGULAR: 400;
$NUNITO_SEMIBOLD: 600;
$NUNITO_BOLD: 600;
$NUNITO_EXTRABOLD: 800;
$PLAY_BOLD: 600;
$TEXT_DARK: #333;
$TEXT_AVG: #777;
$TEXT_LIGHT: #aaa;
$GREEN: #00A156;
$RED: #E55039;
$BLUE: #0984e3;
$CREAM: #fdeccd;
$MESSENGER_PRIMARY: #0084FF;
$MESSENGER_SECONDARY: #EAEAEA;
$TWITTER_PRIMARY: #1EA1F3;
$TWITTER_SECONDARY: #E7ECF0;
$WECHAT_BG: #EBEBEB;
$WECHAT_PRIMARY: #B1EA5D;
$WECHAT_SECONDARY: #FFF;
$TELEGRAM_BG: #8495a2;
$TELEGRAM_PRIMARY: darken(#E5FFCB, 15%);
$TELEGRAM_SECONDARY: #FFF;
$SKYPE_PRIMARY_BOT: linear-gradient(to right, #187BCB, #E262A6);
$SKYPE_PRIMARY: #187BCB;
$SKYPE_SECONDARY: #F1F1F1;
$SLACK_PRIMARY: #584054;
$SLACK_SECONDARY: #F1F1F1;
$TRANSITION_SPEED: 0.25s;
$TRANSITION_SPEED_SLOW: 0.5s;
$TRANSITION_SPEED_FAST: 0.15s;