@import "./base";
//---------------------------------------- Business Dots Home ----------------------------------------
#business_dots_bg {
    background-color: #f7941d;
    height: 100vh;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100vw;
    z-index: -1000;
    .business_dots_bubble {
        background-color: red;
        border-radius: 75px;
        height: 150px;
        position: absolute;
        right: 100%;
        width: 150px;
        -webkit-animation: bubblemove linear infinite;
        -moz-animation: bubblemove linear infinite;
        animation: bubblemove linear infinite;
    }
}

@keyframes bubblemove {
    from {
        right: 100%;
    }
    to {
        right: -600px;
    }
}

.business_dots_text_container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    .business_dots_text {
        cursor: pointer;
        background-color: rgba(255, 255, 255, .8);
        box-shadow: 0 0 .25em rgba(0, 0, 0, .25);
        box-sizing: border-box;
        color: #1e2930;
        padding: 2.5vh;
        margin-top: 10vh;
        margin-left: 100vw;
        width: 100vw;
        text-align: center;
        transform: translate(-50%, -50%);
        h1 {
            span {
                font-weight: 600;
            }
        }
        h5 {
            font-weight: 200;
        }
    }
    .get_start_button {
        cursor: pointer;
        border: 1px solid rgba(255, 255, 255, .8);
        line-height: 50px;
        border-radius: 5px;
        text-align: center;
        width: 180px;
        font-weight: $MONT_SEMIBOLD;
        font-size: 18px;
        color: #1e2930;
        transition-duration: $TRANSITION_SPEED;
        &:hover {
            background-color: $PRIMARY-COLOR;
            color: white;
            border: 1px solid #1e2930;
        }
    }
}

//---------------------------------------- Business Dots Login & Signup ----------------------------------------
.business-dots-login-signup {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .form-structor {
        box-shadow: 0 0 .25em rgba(0, 0, 0, .25);
        border-radius: 5px;
        height: 700px;
        width: 90vw;
        position: relative;
        overflow: hidden;
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background-color: #f7941d;
        }
        .form-title {
            font-weight: 600 !important;
            span {
                color: rgba(0, 0, 0, 0.5);
                display: none;
                transition: all 300ms ease;
            }
        }
        .form-holder {
            border-radius: 5px;
            background-color: #fff;
            overflow: hidden;
            margin-top: 50px;
            .input {
                border: 0;
                outline: none;
                height: 50px;
                width: 100%;
                padding: 8px 10px;
                border-bottom: 1px solid #eee;
                font-size: 12px;
                &:last-child {
                    border-bottom: 0;
                }
                &::placeholder {
                    color: rgba(0, 0, 0, 0.5);
                }
            }
        }
        .btn-submit-signup {
            display: block;
            width: 170px;
            border: 0;
            border-radius: 5px;
            background-color: transparent;
            margin: 15px auto;
            margin-top: 30px;
            padding: 10px;
            font-weight: $MONT_SEMIBOLD;
            font-size: 18px;
            color: #1e2930;
            border: 1px solid rgba(255, 255, 255, .8);
            cursor: pointer;
            transition: $TRANSITION_SPEED;
            &:hover {
                background-color: $PRIMARY-COLOR;
                color: white;
                border: 1px solid #1e2930;
            }
        }
        .btn-submit-login {
            display: block;
            width: 170px;
            border: 0;
            border-radius: 5px;
            background-color: transparent;
            margin: 15px auto;
            margin-top: 30px;
            padding: 10px;
            font-weight: $MONT_SEMIBOLD;
            font-size: 18px;
            color: #1e2930;
            border: 1px solid #f7941d;
            cursor: pointer;
            transition: $TRANSITION_SPEED;
            &:hover {
                background-color: $PRIMARY-COLOR;
                color: white;
                border: 1px solid #1e2930;
            }
        }
        .signup {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, - 50%);
            width: 60%;
            z-index: 5;
            transition: all 300ms ease;
            &.slide-up {
                top: 5%;
                transform: translate(-50%, 0);
                .form-title {
                    font-weight: 600 !important;
                    cursor: pointer;
                    margin: 0;
                    padding: 0;
                    span {
                        display: inline;
                        margin-right: 5px;
                    }
                }
            }
            .loginSignupNote {
                margin-top: 20px;
                margin-bottom: 50px;
                font-size: 10px;
                opacity: 0.8;
            }
        }
        .login {
            position: absolute;
            left: 0;
            right: 0;
            top: 20%;
            bottom: 0;
            background: #f5f5f5;
            z-index: 5;
            transition: all 300ms ease;
            .form-title {
                font-weight: 600 !important;
            }
            .form-holder {
                border: 1px solid #eee;
            }
            &::before {
                content: "";
                background: #f5f5f5;
                border-radius: 50%;
                position: absolute;
                top: -20px;
                left: -50%;
                height: 250px;
                width: 200%;
                z-index: 4;
            }
            .center {
                position: absolute;
                left: 50%;
                top: 50%;
                width: 60%;
                transform: translate(-50%, -50%);
                z-index: 5;
                .forget-password {
                    margin-top: 10px;
                    font-size: 12px;
                    text-align: center;
                    cursor: pointer;
                    opacity: 0.6;
                    &:hover {
                        text-decoration: underline;
                    }
                }
                .loginSignupNote {
                    margin-top: 20px;
                    font-size: 10px;
                    opacity: 0.8;
                }
            }
            &.slide-up {
                top: 90%;
                .center {
                    top: 10%;
                    transform: translate(-50%, 0);
                    .form-title {
                        font-weight: 600 !important;
                        cursor: pointer;
                        margin: 0;
                        padding: 0;
                        span {
                            display: inline;
                            margin-right: 5px;
                        }
                    }
                }
            }
        }
    }
}

.bdh_text_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 100px;
    .bdh_big_heading {
        margin-right: 100px;
        color: $PRIMARY-COLOR;
        font-size: 100px;
        line-height: 100px;
        font-weight: 900;
    }
    .bdh_small_text {
        line-height: 32px;
        font-size: 18px;
        color: $PRIMARY-COLOR;
        a {
            line-height: 50px;
            color: #1e2930;
            opacity: 1;
            cursor: pointer;
            border-bottom: 2px solid #1e2930;
            width: 141px;
            font-size: 22px;
            transition: $TRANSITION_SPEED;
            &:hover {
                opacity: 0.5;
            }
        }
    }
}

.bdh_multipal_platform_container {
    background-image: linear-gradient(#f5f5f5, #fff);
    padding: 100px 0;
    .bdh_big_heading {
        color: $PRIMARY-COLOR;
        line-height: 120px;
        font-size: 100px;
        text-align: center;
        font-weight: 900;
        margin-bottom: 50px;
    }
    @mixin background-gradient($color1, $color2) {
        background: linear-gradient(to bottom right, $color1 0%, $color2 100%);
    }
    @mixin text-gradient($color1, $color2) {
        background: -webkit-linear-gradient($color1, $color2);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .periodic-table {
        display: grid;
        grid-template-columns: repeat(9, 100px);
        grid-template-rows: repeat(4, 100px);
        grid-gap: 10px;
        margin: auto;
        overflow: hidden;
        max-width: 983px;
        justify-content: center;
        .periodic-element {
            position: relative;
            z-index: 1;
            cursor: pointer;
            transition: all 0.3s ease;
            .periodic-element-inner {
                display: flex;
                align-items: center;
                justify-content: center;
                background: rgba(255, 255, 255, 0.8);
                border-radius: 5px;
                height: 100px;
                width: 100px;
                transition: inherit;
                .title {
                    font-size: 12px;
                    font-weight: 700;
                    transition: 0.8s ease 600ms;
                    text-align: center;
                }
            }
            &:hover {
                z-index: 10;
                .periodic-element-inner {
                    background: transparent;
                }
                .title {
                    -webkit-text-fill-color: #1e2930;
                }
                &:after {
                    top: 105%;
                    opacity: 1;
                }
            }
        }
        .color-1 {
            border-radius: 5px;
            @include background-gradient(#ff616d, #ffc171);
            .title {
                @include text-gradient(#ff616d, #ffc171);
            }
        }
        .color-2 {
            border-radius: 5px;
            @include background-gradient(#37cfdc, #5a88e5);
            .title {
                @include text-gradient(#37cfdc, #5a88e5);
            }
        }
    }
}

//-----------------------Dots Type Css ----------------------------
.dot-type-body {
    background-color: #f2f2f2;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .dots_type_heading {
        font-weight: 900 !important;
    }
    .dots_type_card_container {
        display: flex;
        justify-content: center;
        align-items: center;
        .cards-wrapper {
            cursor: pointer;
            margin-top: 50px;
            margin-left: -25px;
            margin-right: -25px;
            .card-container {
                perspective: 1200px;
                #card {
                    margin: 0 auto;
                    height: 400px;
                    width: 400px;
                    max-width: 80%;
                    position: relative;
                    border-radius: 10px;
                    transition: all 1s ease;
                    transform-style: preserve-3d;
                    box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.2);
                    .card-contents {
                        width: 100%;
                        height: 100%;
                        border-radius: 10px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                        text-align: center;
                        position: absolute;
                        backface-visibility: hidden;
                        .card-depth {
                            transform: translateZ(70px) scale(0.98);
                            h2,
                            p {
                                color: #f5f5f5 !important;
                                font-size: 20px;
                                text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.2);
                                margin-bottom: 20px;
                            }
                            hr {
                                background-color: #f5f5f5;
                                width: 100%;
                            }
                            .select_dot_button {
                                cursor: pointer;
                                border: 1px solid rgba(255, 255, 255, .8);
                                border-radius: 5px;
                                text-align: center;
                                width: 180px;
                                padding: 10px 20px;
                                font-weight: $MONT_SEMIBOLD;
                                font-size: 18px;
                                color: #f5f5f5;
                                transition-duration: $TRANSITION_SPEED;
                                &:hover {
                                    background-color: #f7941d;
                                    border: 1px solid #f7941d;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.rotated {
    transform: rotateY(-180deg);
}

.card-front {
    transform-style: preserve-3d;
}

.card-front.business {
    background-image: url('../images/business_dots/business_dot_type.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color: #f5f5f5;
}

.card-front.event {
    background-image: url('../images/business_dots/event_dot_type.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color: #f5f5f5;
}

.card-front.personal {
    background-image: url('../images/business_dots/personal_dot_type.jpg');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #f5f5f5;
}

.card-back {
    transform: rotateY(180deg);
    background: #1e2930;
    transform-style: preserve-3d;
    .card-depth {
        h2,
        p {
            padding: 0 30px;
            font-size: 12px !important;
            line-height: 25px;
            color: #f5f5f5 !important;
            text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.2);
        }
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .bdh_text_container {
        flex-direction: column;
        .bdh_big_heading {
            font-size: 80px;
            font-weight: 800;
            margin: 0 0 50px;
        }
    }
    .bdh_multipal_platform_container {
        .bdh_big_heading {
            font-weight: 800;
            font-size: 80px;
        }
    }
    .dot-type-body {
        .dots_type_card_container {
            .cards-wrapper {
                margin-left: -24px;
                margin-right: -24px;
                .card-container {
                    #card {
                        height: 350px;
                        width: 290px;
                        .card-contents {
                            .card-depth {
                                h2 {
                                    font-size: 35px !important;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .card-back {
        .card-depth {
            h2,
            p {
                padding: 0 15px;
                line-height: 22px;
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    .business-dots-login-signup {
        .form-structor {
            height: 500px;
            .signup {
                width: 90%;
            }
            .login {
                .center {
                    width: 90%;
                }
            }
        }
    }
    .bdh_text_container {
        flex-direction: column;
        padding: 75px 20px;
        .bdh_big_heading {
            font-weight: 800;
            font-size: 42px;
            margin: 0 0 20px;
        }
        .bdh_small_text {
            font-size: 16px;
            line-height: 25px;
        }
    }
    .bdh_multipal_platform_container {
        .bdh_big_heading {
            line-height: 60px;
            font-size: 42px;
        }
    }
    .dot-type-body {
        padding: 100px 0;
        height: 100%;
        .dots_type_card_container {
            flex-direction: column;
            .cards-wrapper {
                .card-container {
                    #card {
                        height: 375px;
                        width: 375px;
                        .card-contents {
                            .card-depth {
                                h2 {
                                    font-size: 35px !important;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}