@import "./_base";
.goBack_Map_Container {
    display: flex;
    cursor: pointer;
    margin: 0 20px 0 20px;
    transition: 0.25s;
    .goBackButton {
        padding: 20px;
        border-radius: 100%;
        background-size: 100% 100%;
        background-image: url('../images/inner/goBackButton.png');
    }
    .googlemapContainer {
        padding: 20px;
        margin-left: 70vw;
        background-size: 100% 100%;
        background-image: url('../images/inner/googlemapButton.png');
    }
}

.feeds_normal-web-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: calc(70px + 50px);
    width: 100%;
    background-image: linear-gradient(#f5f5f5, #fff);
    .icFeeds_card_row {
        margin-top: 50px; //     .rowCenter {
        //         margin-bottom: 15px;
        //         .icFeed-box {
        //             cursor: pointer;
        //             margin-bottom: 24px;
        //             border-radius: 5px;
        //             height: auto;
        //             overflow: hidden;
        //             flex-shrink: 0;
        //             transition-duration: $TRANSITION_SPEED;
        //             &:hover {
        //                 box-shadow: 0 10px 30px -5px rgba($color: #000000, $alpha: 0.45);
        //             }
        //             .icFeed-image {
        //                 border-radius: 5px 5px 0 0;
        //                 img {
        //                     height: 310px;
        //                     width: 100%;
        //                 }
        //             }
        //             .icFeed-desc {
        //                 position: relative;
        //                 display: flex;
        //                 flex-direction: column;
        //                 align-items: center;
        //                 transition-duration: $TRANSITION_SPEED;
        //                 .title {
        //                     padding: 5px;
        //                     font-weight: $NUNITO_BOLD;
        //                     font-size: 13px;
        //                     text-align: justify;
        //                     color: $TEXT_DARK;
        //                 }
        //                 .desc {
        //                     display: block;
        //                     border-top: 1px solid #ddd;
        //                     padding: 5px;
        //                     font-weight: $NUNITO_SEMIBOLD;
        //                     font-size: 11px;
        //                     text-align: justify;
        //                     color: $TEXT_LIGHT;
        //                     transition-duration: $TRANSITION_SPEED;
        //                 }
        //             }
        //         }
        //     }
    }
}

.limiter {
    max-width: 1200px;
}

#instafeed {
    margin: .5rem;
}

#instafeed a {
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.10);
    border-radius: 5px;
    color: #1e2930;
    display: inline-block;
    margin: .5rem;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    width: calc(100% / 4 - 1rem);
    transition: $TRANSITION_SPEED;
    &:hover {
        transform: scale(1.05);
    }
}

#instafeed img {
    display: block;
    height: auto;
    max-width: 100%;
    width: 100%;
}

#instafeed .instaInfo {
    border-top: 1px solid #e3e3e3;
    background-color: #ffffff;
    height: auto;
    padding: 10px;
}

#instafeed .instaInfo p {
    font-size: 12px;
    line-height: 25px;
    overflow: hidden;
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#instafeed .instaInfo .date {
    font-size: 13px;
    font-weight: 600;
}

#instafeed .likes {
    position: absolute;
    right: .6rem;
    bottom: 10px;
}

#instafeed .likes p {
    margin: 0;
    font-size: 13px;
    font-weight: 600;
    position: absolute;
    right: 1.5rem;
    bottom: 3px;
}

#instafeed .likes .heart_logo {
    padding: 0 9px 0 8.5px;
    background-size: 100% 100%;
    background-image: url('../images/icons/like.png');
}

#more,
#nomore {
    background-color: #f2f2f2;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.10);
    cursor: pointer;
    display: none;
    margin: .5rem 1rem 0;
    padding: .8rem .6rem .7rem;
}

#more p,
#nomore p {
    color: #444;
    display: inline;
    font-size: 1rem;
}

#nomore {
    text-align: center;
    cursor: auto;
    opacity: .7;
}

/* Media Queries */

@media screen and (max-width:1200px) {
    #instafeed a {
        width: calc(100% / 3 - 1rem);
    }
}

@media screen and (max-width:800px) {
    #instafeed a {
        width: calc(100% / 2 - 1rem);
    }
}

@media screen and (max-width:480px) {
    #instafeed a {
        width: calc(100% - 1rem);
    }
}

/* low res web + tab */

@media only screen and (min-width: 1025px) and (max-width: 1199px) {
    .icFeeds.card-row {
        padding: 0 30px;
    }
}

/* tabs */

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .icFeeds.card-row {
        padding: 0 30px;
    }
    .icFeed-box {
        box-shadow: 0 10px 30px -5px rgba($color: #000000, $alpha: 0.45);
    }
}

/* phone */

@media only screen and (max-width: 767px) {
    .icFeeds.card-row {
        padding: 30px;
    }
    .icFeed-box {
        box-shadow: 0 10px 30px -5px rgba($color: #000000, $alpha: 0.45);
    }
}